@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor1: black;
    --cor2: white;
    --cor3:  #22D4FD;
    --cor4: #272727;
    --font1: 'Krona One', sans-serif;
    --font2: 'Montserrat', sans-serif;  
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--cor1);
    color: var(--cor2);
    box-sizing: border-box;
}

/* header */

header {
    padding: 2% 0 0 20%;
}

nav {
    display: flex;
    gap: 80px;
}

nav > a {
    font-family: var(--font2);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0rem;
    text-align: left;
    color: var(--cor3);
}

 /* Corpo */

.apresentacao {
    margin: 10% 15%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 6rem;
}

a {
    text-decoration: none;
}

section { 
    display: flex;
    flex-direction: column;
    width: 593px;
    height: 100%;
    gap: 3rem;
}

.apresentacao__conteudo__titulo__index {
    font-family: var(--font1);
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0rem;
    text-align: left;

}

.apresentacao__conteudo__texto {
    font-family: var(--font2);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0rem;
    text-align: left;
    
}

.aboud-texto {
    padding-bottom: 3rem;
}

.apresentacao__conteudo__texto {
    font-family: var(--font2);
}

.apresentacao__conteudo__titulo {
    font-family: var(--font1);
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0rem;
    text-align: left;
}

.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: #22D4FD;
}


.apresentacao__conteudo__titulo__index > strong {
    color: var(--cor3);
}

.buttons {
    width: 100%;
    height: 374px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.buttons > h3 {
    font-family: var(--font1);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0rem;
    text-align: center;
}

.buttons > a {
    border: 2px solid var(--cor3);
    border-radius: 8px;
    padding: 1em 0px;
    width: 378px;

    font-family: var(--font2);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0rem;
    text-align: center;
    color: var(--cor2);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.buttons > a:hover {
    background-color: var(--cor4);
}

.apresentacao__image {
    width: 40%;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor3);
    height: 80px;
}

footer > p {
    font-family: var(--font2);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0rem;
    text-align: center;
    color: var(--cor1);
}

@media (max-width: 1100px){
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3em 1em 0px 1rem;
    }

    nav {
        gap: 1rem;
        justify-content: center;
        align-items: start;
    }

    nav>a {
        text-align: center;
    }

    .apresentacao{
        margin: 10% 1rem;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap-reverse;
        text-align: center;
        position: relative;
    }

    .apresentacao__image{
        width: 65%;
    }

    footer{
        width: auto;
    }

    .apresentacao::after {
        content: '';
        background-image: url("../Assents/Image/Código1.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: .2;
        z-index: -1;
    }
}